<body class="section" style="background-color:#8B9A46;">
    <nav class="sideNav" >
        <h1>Intern Time Capsule</h1>

        <p class="level-item has-text-centered">
            <a routerLink="/home" class="link is-info">Home</a>
        </p>
        <p class="level-item has-text-centered">
            <a routerLink="/about" class="link is-info">About</a>
        </p>
        <p class="level-item has-text-centered">
            <a routerLink="/new-entry" class="link is-info">New Entry</a>
        </p>
    </nav> 
</body>


