.textBox{
    padding:10px;
    background-color: white;
    opacity:0.85;
    height: 600px;
}
.welcomeParagraph{
    font-size: 22px;
    color: #8B9A46;
    font-weight:500;
    padding:10px 10px 10px 10px;
}
.textBoxh1{
    padding: 10px 0px 10px 10px;
        font-size: 40px;
        top: 20px;
        left:340px;
}
.container{
    width:60%;
    padding-top: 10px;
}