<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * Adriana Massey * * -->
<!-- * * Feb 7 2022 * * -->
<!-- * * Home Page with Nav* * -->

<html>
    <div class ="groupPhoto">
        <div class="container">
        <div class="textBox">
            <h1 class="textBoxh1"> AAA-ACG Interns</h1>
            <p class = "welcomeParagraph">Welcome Interns! We are thrilled that you have been part of the AAA-ACG Internship program. 
                We started this program back in 2018 and have had a great amount of incredible young minds go through our program. 
                Each year, students learn something new, contribute new ideas and technologies to the ACG team. 
                By the end of the program, Interns have so much to share that would be beneficial to the future interns. For that reason, our Interns of Winter 2022 created our ACG Intern Time Capsule. 
                Here you can gain wisdom and insight from past interns while also sharing your experience and advice with the interns to come.</p>
        </div>
    </div>
    </div>
</html>

