
:host{
    display:flex;
}
.cardContainer{
    padding-top:10px;
    max-height: 900px;
    gap:20px;
}
.singleCard{
    margin-right: 20px;
}
.card-content{
    width:100%
}
.textBoxh1{
    font-weight:bold;
    color: #8B9A46;
    font-size: 27px;
    text-align: center;
vertical-align: middle;
line-height: 90px; 
}
