.error{
    font-weight:bold;
}
.form-group{
    padding: 5px;
}
.textBox{
    opacity:1; 
    padding: 35px; 
    height:620px;
    background-color: white;
    width: 800px;
    margin-left: 100px;
    margin-right: 300px; 
}
.textBoxh1{
    font-size: 40px;
    position: absolute;
    top: 20px;
    left:340px;
}
.input{
    border-color:#8B9A46;
}
.textarea{
    border-color:#8B9A46;
}
#cancelBtn{
    background-color:#E8E8A6;
    color:#8B9A46;
}
#submitBtn{
    background-color: #8B9A46;
    color:white;
}